@model IndexViewModel
@using StackOverflow.Data

<div class="container">
    <main role="main" class="pb-3" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                @if(Model.Questions.Count() == 0)
                {
                <div class="card card-body">
                    <h3>No questions yet, be the first to submit one!</h3>
                </div>
                }
                @foreach (Question q in Model.Questions)
                {
                    <div class="card card-body">
                        <h4>
                            <a href="/questions/viewquestion?id=@q.Id" class="text-info">
                                @q.Title
                            </a>
                        </h4>
                        <div>
                            @if (q.QuestionsTags.Count() > 0)
                            {
                                <span>Tags:</span>
                            }
                            @foreach (QuestionsTags qt in q.QuestionsTags)
                            {
                                <span class="badge badge-primary">@qt.Tag.TagName</span>
                            }
                        </div>
                        <div style="margin-top: 10px;">
                            @q.Text
                        </div>
                        <span>Likes: @((q.Likes == null) ? 0 : q.Likes.Count()) </span>
                        <br />
                        <span>@q.Answers.Count() answer(s)</span>
                    </div>
                }
            </div>
        </div>
    </main>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
    <script>
        $(() => {
            $("#tags").tagsinput({
                tagClass: 'badge badge-primary'
            });
        })
    </script>
}

@section styles
    {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css" />
}